* {
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.DarkLight {
    position: relative;
    width: 15vw;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    margin: 0;
    background-color: rgb(26, 24, 24);
    color: white;
}

.Switcher {
    position: absolute;
    left: 0%;
    top: 5vw;
    width: 55%;
    height: 100%;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    transition: 250ms ease-in-out;
}

.SwitcherDark {
    left: 46%;
}

.SwitcherLight {
    left: 0%;
}