/* * {
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}



.Switcher {
    position: absolute;
    left: 0%;
    top: 0;
    width: 55%;
    height: 100%;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    transition: 250ms ease-in-out;
}

.SwitcherDark {
    left: 46%;
}

.SwitcherLight {
    left: 0%;
} */