.svgMenu {
    position: absolute;
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 100%;
    height: 70vh;
    z-index: 9999;
    transition: 500ms ease-in-out;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-left: 2px solid rgba(0, 0, 0, 0.201);
    border-right: 2px solid rgba(0, 0, 0, 0.201);
    border-top: 2px solid rgba(0, 0, 0, 0.201);
    padding: 5vw;
    padding-top: 7.3vw;
    overflow: scroll;
    scroll-behavior: smooth;
}

.ButtonClosed {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 32.5vh;
    z-index: 10000;
}

.ButtonOpen {
    position: absolute;
    display: none;
}

#Top {
    position: absolute;
    top: 0;
} 

.line {
    position: absolute;
    top: 2vw;
    left: 0;
    right: 0;
    width: 30vw;
    height: 0.8vw;
    margin: auto;
    border-radius: 50vw;
    background-color: rgba(0, 0, 0, 0.55);
}

.SvgMenuOpen {
    bottom: 0vw;
    box-shadow: 0vw -3vw 3vw 1vw rgba(0, 0, 0, 0.392);

}

.SvgMenuClosed {
    bottom: -66vh;
    box-shadow: 0vw -3vw 1vw -2vw rgba(0, 0, 0, 0.392);


} 


.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7 {
    fill: none;
}

.cls-8 {
    letter-spacing: -.02em;
}

.cls-9 {
    letter-spacing: -.02em;
}

.cls-10 {
    letter-spacing: -.02em;
}

.cls-11 {
    letter-spacing: 0em;
}

.cls-2 {
    stroke-dasharray: 0 0 45.17 18.07;
}

.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7 {
    stroke-miterlimit: 10;
}

.cls-2,
.cls-4,
.cls-6 {
    stroke: #000;
}

.cls-2,
.cls-6 {
    stroke-width: 12.65px;
}

.cls-12 {
    fill: #fff;
}

.cls-3 {
    stroke-width: 12.75px;
}

.cls-3,
.cls-5,
.cls-7 {
    stroke: rgb(234, 0, 255);
}

.cls-13 {
    letter-spacing: -.01em;
}

.cls-14 {
    letter-spacing: -.01em;
}

.cls-15 {
    letter-spacing: -.01em;
}

.cls-4 {
    stroke-width: 10.84px;
}

.cls-5 {
    stroke-width: 16.39px;
}

.cls-16 {
    letter-spacing: 0em;
}

.cls-17 {
    letter-spacing: 0em;
}

.cls-7 {
    stroke-dasharray: 2855;
    stroke-dashoffset: -2855;
    stroke-width: 9px;
    transition: 1200ms ease-in-out;
}

.cls-18 {
    font-family: DINAlternate-Bold, 'DIN Alternate';
    font-size: 57.07px;
}

.buttonHide {
    display: none;
}

.buttonShow {
    display: block;
}

.cls-Eudx {
    stroke-dasharray: 1780;
    stroke-dashoffset: 1780;
}